<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="UTF-8">
  <!-- the title from the page -->
  <title>{{title}}</title>
  {{> meta }}
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <!-- build:js(.) scripts/holder.js -->
  <script src="bower_components/holderjs/holder.js"></script>
  <!-- endbuild -->
</head>
<body class="menuright">
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Include a nav from partials -->
  <header>
    {{> navigation }}
  </header>
  <main id="appcontainer">
    <div class="overlay"></div>
    {{> header }}
    <div id="appcontent">
    {{> body }}
    </div>
  </main>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/lazysizes/lazysizes.js"></script>
  <script src="bower_components/rebound-js/rebound.js"></script>
  <script src="bower_components/smoothstate/src/jquery.smoothState.js"></script>
  <script src="bower_components/picturefill/dist/picturefill.js"></script>
  <script src="bower_components/fastclick/lib/fastclick.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({app,.tmp}) scripts/main.js -->
  <script src="scripts/includes/ga.js"></script>
  <script src="scripts/functions/springyCarousel.js"></script>
  <script src="scripts/main.js"></script>
  <!-- endbuild -->


</body>
</html>
