---
layout: base-parent.hbs
---
<main id="main" class="">
	{{> navigation }}
	<div id="appcontainer">
		<div class="overlay"></div>
		<div id="appcontent">
			{{> header }}
         {{> body }}
		</div>
	</div>
</main>
