---
layout: base-parent.hbs
---
<main id="main" class="app post">
	{{> navigation }}
	<div id="appcontainer" class="appcontainer">
		<div class="overlay"></div>
		<div id="appcontent" class="appcontent">
			{{> header }}
			<div class="content">
				{{> body }}
			</div>
		</div>
	</div>
</main>
