---
title: Swoosh
description: test
keywords: swoosh, test
author: Joshua Pekera
back: true
---
<article class="project swoosh">
	<div class="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<!-- <img alt="swoosh mockup"
						data-srcset="../images/project-swoosh-hero-sm.jpg 320w, ../images/project-swoosh-hero-md.jpg 640w, ../images/project-swoosh-hero-lg.jpg 1024w" sizes="(min-width: 36em) 33.3vw, 100vw" class="img-responsive lazyload" /> -->
					<img src="../images/project-swoosh-fan-lg.jpg" alt="" class="img-responsive" />
					<!-- <img src="../images/project-swoosh-hero-lg.jpg" alt="" class="img-responsive" /> -->
				</div>
			</div>
			<div class="hero-inner">
				<h1>Swoosh</h1>
				<p class="lead">Make yourself comfortable</p>
			</div>
		</div>
	</div>

	<section id="" class="">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Comfort controls for ceiling fans.</h2>
					<p>Swoosh is comfort focused and designed to support Apple HomeKit. Increase or decrease airflow in a room or throughout your home so your are always comfortable.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<img src="../images/project-swoosh-phones-lg.png" alt="" class="img-responsive" />
					<!-- <img alt="swoosh mockup"
		      data-srcset="../images/project-swoosh-1-sm.jpg 320w, ../images/project-swoosh-1-md.jpg 640w, ../images/project-swoosh-1-lg.jpg 1024w" sizes="(min-width: 36em) 33.3vw, 100vw" class="img-responsive lazyload" /> -->
				</div>
			</div>
		</div>
	</section>

	<section id="" class="">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Organize your Home</h2>
					<p>Create a home and make it yours by adding rooms and zones.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<img src="../images/project-swoosh-1@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-2@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-3@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-4@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-5@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-6@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-7@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>
		</div>
	</section>

	<section id="" class="off-white">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Add Accessories</h2>
					<p>Add new fans to your home and assign them to a room.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-8@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-9@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-10@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-11@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>
		</div>
	</section>

	<section id="" class="">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Manage your home</h2>
					<p>Add and remove accessories and users.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-12@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-13@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-14@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-15@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>
		</div>
	</section>

	<section id="" class="">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Control Fans</h2>
					<p>Quickly adjust a ceiling fan's speed or brightness.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-16@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-17@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>
		</div>
	</section>
	
	<section id="" class="">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Define Scenes</h2>
					<p>Add fans to default and custom scenes. Save your preferred settings and update them with ease whenever you want.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-18@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-19@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<img src="../images/project-swoosh-20@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
				<div class="col-sm-6">
					<img src="../images/project-swoosh-21@2x.jpg" alt="" class="img-responsive phone-mock" />
				</div>
			</div>
		</div>
	</section>

</article>
