---
title: Swoosh
description: test
keywords: swoosh, test
author: Joshua Pekera
back: true
---
<article class="project swoosh">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<!-- <img alt="swoosh mockup"
					data-srcset="../images/project-swoosh-hero-sm.jpg 320w, ../images/project-swoosh-hero-md.jpg 640w, ../images/project-swoosh-hero-lg.jpg 1024w" sizes="(min-width: 36em) 33.3vw, 100vw" class="img-responsive lazyload" /> -->
					<img src="../images/project-swoosh-hero-lg.jpg" alt="" class="img-responsive" />
				</div>
			</div>
			<div class="copy">
				<h1>Swoosh</h1>
				<p class="lead">Automate and control your home ceiling fans.</p>
			</div>
		</div>
	</div>

	<section id="" class="">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<img src="../images/project-swoosh-1-lg.jpg" alt="" class="img-responsive" />
					<!-- <img alt="swoosh mockup"
		      data-srcset="../images/project-swoosh-1-sm.jpg 320w, ../images/project-swoosh-1-md.jpg 640w, ../images/project-swoosh-1-lg.jpg 1024w" sizes="(min-width: 36em) 33.3vw, 100vw" class="img-responsive lazyload" /> -->
					
					<p>Dentifrangibulum Brachycatalecticum Historialiter Spissitudo Speculatoria Ex Edo Scorteum Mena Raphaninus Circumductio Incorruptibiliter</p>
				</div>
			</div>
		</div>
	</section>
	
	<section id="" class="">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<img src="../images/project-swoosh-1-lg.jpg" alt="" class="img-responsive" />
					<!-- <img alt="swoosh mockup"
		      data-srcset="../images/project-swoosh-1-sm.jpg 320w, ../images/project-swoosh-1-md.jpg 640w, ../images/project-swoosh-1-lg.jpg 1024w" sizes="(min-width: 36em) 33.3vw, 100vw" class="img-responsive lazyload" /> -->
					
					<p>Dentifrangibulum Brachycatalecticum Historialiter Spissitudo Speculatoria Ex Edo Scorteum Mena Raphaninus Circumductio Incorruptibiliter</p>
				</div>
			</div>
		</div>
	</section>
	
</article>
