<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Joshua Pekera</title>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

        <script src="/bower_components/holderjs/holder.min.js"></script>
    </head>
    <body class="menuright">
        <!--[if lt IE 10]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header id="header">
            <nav id="appnav">
                <div class="menu">
                    <a href="index.html">Products</a>
                    <a href="swoosh.html">About</a>
                    <a href="#">Contact</a>
                </div>
            </nav>
        </header>
        <main id="appcontainer">
            <div class="overlay"></div>
            <a id="hamburgericon" class="menu-button x">
                <div class="navicon"></div>
            </a>
            <div class="myinfo">
                <p class="name">Joshua Pekera</p>
                <p class="title">Product Designer</p>

                <ul class="social">
                    <li><a class="facebook" href="https://facebook.com/joshuapekera" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/joshuapekera" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="https://linkedin.com/in/joshuapekera" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a class="dribbble" href="https://dribbble.com/joshuapekera" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="mailto:joshuapekera@me.com?subject=Joshua, Lets chat!"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <div id="appcontent">
                <section id="projects" class="content m-scene">
                    <div class="boards scene_element scene_element--fadein" id="wrapper">
                        <ul id="slides">
                            <li id="swoosh">
                                <div class="caption">
                                    <p class="year">2015</p>
                                    <a href="swoosh.html" class="btn btn-default">details</a>
                                </div>
                            </li>
                            <li id="comingsoon">
                                <div class="caption">
                                    <p class="year"></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <ul id="nav">
                        <li>Swoosh</li>
                        <li>Coming Soon</li>
                    </ul>

                    <div class="fade right_fade"></div>
                    <div class="fade left_fade"></div>

                </section>
            </div>
        </main>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/lazysizes/lazysizes.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/rebound-js/rebound.js"></script>
        <script src="/bower_components/wow/dist/wow.js"></script>
        <script src="/bower_components/smoothstate/jquery.smoothState.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/functions.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics -->
        <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='https://www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-30476296-7');ga('send','pageview');
        </script>
    </body>
</html>
