---
title: Product Designer
description: Product Design Portfolio
keywords: portfolio, product, design
author: Joshua Pekera
layout: cover-layout.hbs
---
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="cover-inner">
				<h1 class="cover-heading">Joshua</h1>
				<p class="lead">I love to merge art and technology togther.</p>
				<p class="lead">
					<a href="portfolio.html" class="btn btn-lg btn-cover">Portfolio</a>
				</p>
			</div>

			<div class="mastfoot">
				<div class="inner">
					<blockquote class="blockquote">
					<p>You have to start with the customer experience and work backwards to the technology.</p>
					<footer>Steve Jobs<cite title="WWDC 2017"> at WWDC 1997</cite></footer>
					</blockquote>
				</div>
			</div>

		</div>
	</div>
</div>
