---
title: Joshua Pekera
description: Product Design Portfolio
keywords: portfolio, product, design
author: Joshua Pekera
---
<section id="projects" class="content m-scene">
  <div class="boards scene_element scene_element--fadein" id="wrapper">
    <ul id="slides">
      <li id="">
        <img data-sizes="auto" data-srcset="../images/slide-swoosh-sm.jpg 600w, ../images/slide-swoosh-md.jpg 1000w, ../images/slide-swoosh-lg.jpg 2000w" class="lazyload" />
        <div class="caption">
          <a href="swoosh.html" class="btn ion-ios-albums-outline"></a>
        </div>
      </li>

      <li id="">
        <img src="../images/slide-origami.jpg" alt="slide-swoosh">
        <div class="caption">
          <a href="origami.html" class="btn ion-ios-albums-outline"></a>
        </div>
      </li>

      <li id="">
        <img data-sizes="auto" data-srcset="../images/slide-comingsoon-sm.jpg 600w, ../images/slide-comingsoon-md.jpg 1000w, ../images/slide-comingsoon-lg.jpg 2000w" class="lazyload" />
        <div class="caption">
          <a href="comingsoon.html" class="btn ion-ios-albums-outline"></a>
        </div>
      </li>
    </ul>
  </div>

  <ul id="nav">
    <li id="tab1">Swoosh</li>
    <li id="tab2">Aedificatiuncula</li>
    <li id="tab3">Aliter</li>
    <li id="tab4">Maximalista</li>
  </ul>

  <div class="fade right_fade"></div>
  <div class="fade left_fade"></div>

</section>
