---
title: Work
description: Product Design Portfolio
keywords: portfolio, product, design
author: Joshua Pekera
layout: cover-layout.hbs
---
<div id="wrapper" class="boards">
  <ul id="slides" class="slides">
    <li id="">
      <img alt="swoosh mockup"
      data-srcset="../images/slide-swoosh-sm.jpg 320w, ../images/slide-swoosh-md.jpg 640w, ../images/slide-swoosh-lg.jpg 1024w" sizes="(min-width: 36em) 33.3vw, 100vw" class="lazyload" />
      <div class="caption">
        <a href="swoosh.html" class="btn ion-ios-albums-outline"></a>
      </div>
    </li>
    
    <li id="">
      <img alt="tecgen mockup"
      data-srcset="../images/slide-tecgen-sm.jpg 320w, ../images/slide-tecgen-md.jpg 640w, ../images/slide-tecgen-lg.jpg 1024w" sizes="(min-width: 36em) 33.3vw, 100vw" class="lazyload" />
      <div class="caption">
        <a href="tecgen.html" class="btn ion-ios-albums-outline"></a>
      </div>
    </li>

    <li id="">
      <img alt="coming soon"
       data-srcset="../images/slide-comingsoon-sm.jpg 320w, ../images/slide-comingsoon-md.jpg 640w, ../images/slide-comingsoon-lg.jpg 1024w"
       sizes="(min-width: 36em) 33.3vw, 100vw" class="lazyload" />
    </li>
    <!-- <li id="">
      <img src="../images/slide-origami.jpg" alt="slide-swoosh">
      <div class="caption">
        <a href="origami.html" class="btn ion-ios-albums-outline"></a>
      </div>
    </li> -->
  </ul>
</div>

<ul id="nav" class="springy-nav">
  <li id="tab1">Swoosh</li>
  <li id="tab2">Tecgen</li>
  <li id="tab2">Coming Soon</li>
  <!-- <li id="tab3">Aliter</li> -->
</ul>

<div class="fade right_fade"></div>
<div class="fade left_fade"></div>
