.swoosh {
	
	.hero {
		color: @black;
		background-color: @white;
		background-size: 50%;
		background-position: top center;
		//background-attachment: fixed;
		background-repeat: no-repeat;
		//background-clip: padding-box;
		background-image: url("../images/project-swoosh-hero-lg.jpg");
		@media (min-width: @screen-md-min) {
			background-image: url("../images/project-swoosh-hero-lg.jpg");
		}
		@media (min-width: @screen-lg-min) {
			background-image: url("../images/project-swoosh-hero-lg.jpg");
		}
		
		.image {
			
		}
	}
	
}
