/* Site Stuctural Layout
---------------------------------- */
body {
	overflow-x: hidden; //firefox no h-scroll
}

.app {
	//overflow: auto;
	height: auto;
}

.post {
	// position: absolute;
	// top: 0;
	// bottom: 0;
	// left: 0;
	// right: 0;
	//overflow-y: scroll;
	.shift & {
		overflow: hidden;
	}
}

.loader {
	display: none;
	visibility: hidden;
	opacity: 0;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	//transition: all 400ms linear;
	z-index: @zindex-modal;
}

.appnav {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	overflow: hidden;
	background-color: @nav-bg;
	//z-index: -47;
	// background: url("../images/background-lg.jpg");
	// background-size: cover;
	// background-position: center center;
	// background-repeat: no-repeat;
}

.appcontainer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	width: auto;
	height: auto;
	//overflow-y: scroll;
	//height: auto;
	//.scale3D(1, 1, 1);
	.transition(all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05));
	.backface-visibility(hidden);
	-webkit-font-smoothing: subpixel-antialiased;
	.cover & { // cover for non scrolling pages
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
	}
	.post & {
		//position: static;
	}
	.shift & {
		#shift > .right(); // show menu
		//position: absolute;
		overflow-y: hidden;
	}
	.shifting & {
		//position: absolute;
		overflow-y: hidden;
	}
	.zoom-overlay-open & {
		.transform(none);
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	cursor: pointer;
	display: none;// display under shift
	opacity: 0;// display under shift
	//background-color: fade(@black, 10%);// filter experiment
	//-webkit-backdrop-filter: blur(20px);// filter experiment
	.shift & {
		display: block;
		opacity: 1;
		overflow-x: hidden;
	}
	// .loading & {
	// 	display: block;
	// 	opacity: 1;
	// 	background-color: @body-bg;
	// }
}

.appheader {
	position: fixed;
	width: 100%;
	height: 50px;
	padding: 10px 10px 0;
	opacity: 1;
	//transition-delay: 0ms;
	//transition: opacity 300ms ease-in;
	// margin-top: 2px;
	// border-top-left-radius: 8px;
	// border-top-right-radius: 8px;
	z-index: 1;
	@media (min-width: @screen-sm-min) {
		height: 80px;
		padding: 25px 25px 0;
	}
	.is-exiting & {
		opacity: 0;
		//transition: opacity 200ms ease-in;
	}
	.shifting .is-exiting & {
		transition-delay: @scene-delay;
	}
	.post & {
		//background-color: fade(@body-bg, 80%);
		//border-bottom: 1px solid #dddddd;
		//transition: transform 200ms linear;
		&--fixed {
			position: fixed;
			z-index: 1;
			right: 0;
			left: 0;
			top: 80;
			//background-color: fade(@white, 90%);
			//background-color: #292F36;
			//border-bottom: 1px solid fade(@black, 0%);
			//box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
		}
		&--top {
			border-bottom: 1px solid fade(@black, 0%);
		}
		&--top.slideInDown {
			//transition: background-color @header-duration ease-in, border @header-duration ease-in;
			transition: background-color @header-duration, box-shadow @header-duration, border @header-duration;
		}
		&--not-top.slideInDown {
			background-color: fade(@white, 90%);
			//box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15);
			border-bottom: 1px solid fade(@black, 5%);
		}
		&--not-top.slideOutUp {
			background-color: fade(@white, 0%);
			//box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0);
			border-bottom: 1px solid fade(@black, 0%);
		}
		.shift & {
			//background-color: fade(@body-bg, 90%);// fade when open
		}
	}
}

.appcontent {
	width: 100%;
	//position: relative;
	.backface-visibility(hidden);
	//z-index: 2;
	.cover & {
		height: 100%;
	}
	.post & {
		//position: relative;// sticky footer
		//min-height: 100vmin;// sticky footer
		min-height: 100%;
		//background-color: @body-bg;
		background-color: @nav-bg;
		.shift & {
			//background-color: transparent;// fade when open
		}
	}
	.shift & {
		//.opacity(.9);// opaque when open
	}
}

.content {
	//position: relative;
	// &:hover:after {
  //   content:""; // force redraw
	// }
	.cover & {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.post & {
		padding-bottom: 120px;// sticky footer
		background-color: @body-bg;
	}
	.shift & {
		//.opacity(.9);// fade when open
	}
	// .shifting & {
	// 	overflow-y: hidden;
	// }
	.slider & {
		margin: 0;
		padding: 0;
	}
}

.post article {
	//padding-top: 70px;
	@media (min-width: @screen-sm-min) {
		//padding-top: 80px;
	}
}

.footer {
	//position: relative;
	border-top: 1px solid @footer-border;
	.post & {
		//position: absolute;
		//bottom: 0;
		width: 100%;
		height: 80px;// fixed height for sticky footer
		background-color: @footer-bg;
		.footer-inner {
			line-height: 80px;
	  	text-align: center;
		}
	}
}

.boards {
	background-color: @body-bg;
}

// Top Left Info
.myinfo {
	position: relative;
	display: inline-block;
	cursor: default;
	z-index: 1;
	* {
		margin: 0;
		padding: 0;
		.box-sizing(border-box);
	}
}
