// Style
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}

body {
	background-color: @body-bg;
}

::selection {
	color: @white;
  background: @theme-blue-light; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: @white;
  background: @theme-blue-light; /* Gecko Browsers */
}

body {
	.user-select(none);
}

.content * {
	.user-select(text);
}

.springy .content * {
	// prevent user select on the slider
	.user-select(none);
}

body {
	font-family: @font-family-sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	line-height: 1.28;
}

// Button Styles

.btn-cover {
	.btn-styles(@white);
	border-radius: 24px;
}
