// Style
html {
	//background-color: @off-black;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	.backface-visibility(hidden);
}

::selection {
	color: @white;
	background: @theme-blue-light;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	color: @white;
	background: @theme-blue-light;
	/* Gecko Browsers */
}

body * {
	.user-select(none);
}

.content * {
	.user-select(text);
}

.springy .content * {
	.user-select(none);// no select on the slider
}

body {
	font-family: @font-family-sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: @font-size-base;
	line-height: 1.28;
	background-color: @body-bg;
	color: @text-color;
}

/* Home Page */
.cover-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%; // For at least Firefox
	background-image: url("../images/hero-desk-sm.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.backface-visibility(hidden);
	@media (min-width: @screen-md-min) {
		background-image: url("../images/hero-desk-md.jpg");
	}
	@media (min-width: @screen-lg-min) {
		background-image: url("../images/hero-desk-lg.jpg");
	}
	&-inner {
		display: table-cell;
		vertical-align: middle;
	}
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

.cover-inner {
	//padding: 0 20px;
	text-align: center;
	border-radius: 40px;
	.lead {
		//color: @white;
		color: fade(@white, 70%);
		margin-bottom: 0;
		font-weight: 300;
		font-size: @font-size-h1 + 6;
		//line-height: @line-height-base + .5;
		@media (min-width: @screen-sm-min) {
			padding: 0 80px;
		}
	}
}

.cover-heading {
	font-weight: 300;
	font-size: @font-size-h2;
	color: fade(@white, 90%);
	padding: 0 20px;
	margin-bottom: 30px;
	@media (min-width: @screen-sm-min) {
		font-weight: 100;
		font-size: @font-size-h1 + 10;
		margin-bottom: 0px;
	}
}

// Mast Footer
.mastfoot {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	.social {
		margin-bottom: 20px;
		font-size: 24px;
		@media (min-width: @screen-lg-min) {
			font-size: 20px;
		}
		li {
			margin: 0 4px;
			@media (min-width: @screen-sm-min) {
				margin: 0 2px;
			}
		}
	}
	blockquote {
		display: none;
		font-size: @font-size-base;
		color: @gray-light;
		border: none;
		padding: 0;
		@media (min-width: @screen-sm-min) {
			display: block;
		}
	}
	
	p {
		display: inline-block;
	}
	
	footer {
		display: inline-block;
		font-size: @font-size-base;
		color: @gray-light;
		//text-align: center;
		@media (min-width: @screen-sm-min) {
			
			//text-align: right;
		}
	}
}


// Affix and center
@media (min-width: @screen-sm-min) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}
	
	.mastfoot {
		//position: fixed;
		bottom: 0;
	}
	
	// Start the vertical centering
	.cover-wrapper-inner {
		vertical-align: middle;
	}
	
	// Handle the widths
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%;
		
		// Must be percentage or pixels for horizontal alignment
	}
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 900px;
	}
}

// Post Content
.blog-post {
	font-size: @font-size-base + 6;
	font-family: @font-family-serif;
	line-height: 1.5;
	section {
		
	}
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}
	hr {
		width: 20%;
	}
	a {
		color: @text-color;
		text-decoration: underline;
		transition: all 200ms linear;
		&:hover {
			color: @link-hover-color;
		}
	}
}

// Project Page
.jumbotron {
	&-wrapper {
		display: table;
		width:100%;
		height: 100%;
		min-height: 100%;
	}
	&-wrapper-inner {
		display: table-cell;
		vertically-align: middle;
	}
	&-inner {
		width: 50%;
		padding: 33% 0;
		@media (min-width: @screen-sm-min) {
			width: 50%;
		}
	}
	&-inner.right {
		margin-left: 50%;
	}
}
	
.jumbotron {
	.project & {
		padding:0;
		//margin-top: -50px;
		margin-bottom: 0;
		background-repeat: no-repeat;
		background-position: top;
		background-size: contain;
		.backface-visibility(hidden);
		@media (min-width: @screen-sm-min) {
			//margin-top: -80px;
			background-size: contain;
		}
		p {
			font-size: @font-size-base;
			@media (min-width: @screen-sm-min) {
				font-size: @font-size-base + 6;
			}
		}
	}
	.swoosh & {
		background-color: @white;
		//background-image: url("http://placehold.it/500x300");
		//background-image: url("http://placehold.it/1600x900");
		background-image: url("../images/project-swoosh-hero-lg.jpg");
		@media (min-width: @screen-md-min) {
			background-image: url("../images/project-swoosh-hero-lg.jpg");
		}
		@media (min-width: @screen-lg-min) {
			background-image: url("../images/project-swoosh-hero-lg.jpg");
		}
	}
}

.project-section {
	background-color: @white;
	&-dark {
		color: @white;
		background-color: @black;
	}
}
