<header id="appheader" class="appheader">
  <div class="myinfo">
    <p class="name"><a href="/">Joshua Pekera</a></p>
    <p class="title">{{title}}</p>
  </div>
  <a id="hamburgericon" class="menu-button x nss"><div class="navicon"></div></a>
</header>
