<div id="appnav" class="appnav">
	<nav class="menu">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="work.html">Work</a></li>
			<!-- <li><a href="ideas.html">Ideas</a></li> -->
		</ul>
		<h4>Connect</h4>
		{{> social }}
	</nav>
</div>
