.social {
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
	}
	a {
		color: @white;
		.transition(all 250ms linear);
		&:hover {
			color: fade(@white, 60%);
		}
	}
	.dark & {
		a {
			color: fade(@white, 60%);
			&:hover {
				color: @white;
			}
		}
	}
	.menu & {
		a {
			color: @white;
			&:hover {
				color: fade(@white, 60%);
			}
		}
	}
	.mastfoot &, .footer & {
		margin-bottom: 20px;
		font-size: 24px;
		@media (min-width: @screen-lg-min) {
			font-size: 20px;
		}
		li {
			margin: 0 4px;
			@media (min-width: @screen-sm-min) {
				margin: 0 2px;
			}
		}
	}
	.footer & {
		display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
		margin: 0;
		a {
			color: #cccccc;
			&:hover {
				color: @print-black;
			}
		}
	}
}

.social li a.email {
	padding-left: 5px;
}

.social li a.dribbble:hover {
	color: @bc-dribbble-2;
	.dark & {
		color: @white;
	}
	.menu & {
		color: fade(@white, 60%);
	}
}

.social li a.linkedin:hover {
	color: @bc-linkedin;
	.dark & {
		color: @white;
	}
	.menu & {
		color: fade(@white, 60%);
	}
}

.social li a.facebook:hover {
	color: @bc-facebook;
	.dark & {
		color: @white;
	}
	.menu & {
		color: fade(@white, 60%);
	}
}

.social li a.twitter:hover {
	color: @bc-twitter;
	.dark & {
		color: @white;
	}
	.menu & {
		color: fade(@white, 60%);
	}
}
